* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1rem;

}

:root {
    --btn-login: #00b7ff;
}

body {
    width: 100vw;
    height: 100vh;

}

header#header {
    background: var(--btn-login);
    text-align: center;
    padding: 1rem;
    
}

header#header > img {
    height: 200px;

}

main {
    padding: 1rem;
}
